@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: oklch(0 0 0);
  --primary-muted: oklch(0.556 0 0);
  --primary-invert: oklch(1 0 0);
}

.dark {
  --primary: oklch(1 0 0);
  --primary-invert: oklch(0 0 0);
  --primary-muted: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-cooper);
  --color-primary: var(--primary);
  --color-primary-muted: var(--primary-muted);
  --color-primary-invert: var(--primary-invert);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
